{% extends 'base.html'%}

{% block title %} {{ game.title }} {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ game.image.url }}" alt="{{ game.title }}" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h1>{{game.title}}</h1>
            <br>
            <h5>Цена: {{game.price}}</h5>
            <br>
            <p><strong>Описание:</strong>{{game.description}}</p>
            <p><strong>Жанры:</strong>
                {% for genre in game.genres.all %}
                    {{genre}}
                {% endfor %}
            </p>
            <p><strong>Дата выхода:</strong>{{game.release_date}}</p>
            <a href="{% url 'games_list' %}" class="btn btn-secondary">Назад</a>
            <a href="{% url 'game_update' game.pk %}" class="btn btn-primary">Изменить</a>
            <a href="{% url 'game_delete' game.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}