{% extends '../base.html' %}
{% load bootstrap5 %}
{% block title %} Игры {% endblock %}

{% block sidebar %}
  <div class="col-md-3">
    <div class="card-body">
      <form method="get">
        {% csrf_token %}
        {{ filter.form.as_p }}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Поиск</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}

{% block content %}
  <h1> Игры: </h1>
    <div class="row">
      {% for game in games %}
      <div class="col-md-4 mt-4">
        <div class="card h-100">
          <div class="card-img-container">
            <img src="{{ game.image.url }}" class="card-img-top img-fluid" alt="Game Cover">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ game.title }}</h5>
            <p class="card-text">{{ game.description }}</p>
            <a href="{% url 'game_detail' game.pk %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  <a href="{% url 'game_create' %}" class="btn btn-success">Добавить игру</a>
{% endblock %}